body {
    font-family: Arial, sans-serif;
    background-color: #C158DB;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.header {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
    padding: 20px;
}

.topnavbar {
    display: flex;
    justify-content: space-between;
    max-width: 98%;
    margin: 0 auto;
}

.topnavbar .nav {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 100px;
}

.topnavbar .nav .nav-item .item-image {
    max-width: 50px;
}

.topnavbar .nav .nav-item a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.topnavbar .nav .nav-izq a:hover {
    color: rgb(197, 8, 181);
}

.nav-button {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    /* Reducir el tamaño del botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    /* Separar el botón */
    width: 120px;
    /* Justificar el tamaño del botón */
    text-align: center;
}

.nav-button:hover {
    background-color: #2980b9;
}

.nav-extra a {
    color: white;
    text-decoration: none;
}

.nav-item-2:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-loc:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.container {
    margin-top: 60px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.cart-list {
    width: 100%;
}

.cart-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.cart-item h3 {
    margin: 0 0 10px;
}

.cart-item p {
    margin: 0 0 10px;
}

.cart-item .price {
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-item .quantity {
    margin-bottom: 10px;
}

.cart-item .remove-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-item .remove-button:hover {
    background-color: #c0392b;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .cart-item {
        width: 90%;
    }
}